
table.han808 {
    border-bottom: 3px solid #444444;
    thead {
        background: #444444;
        color: #ffffff;
        th, td {
            padding: 15px 0px;
        }
    }
    th, td {
        width: 75px;
        padding: 5px 10px;
        text-align: center;
    }
    tr:nth-child(even) {
        background: #eeeeee;
    }
    td.simplified {
        font-family: "方体", "PingFang SC", "黑体", "Heiti SC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto, "Noto Sans CJK SC", "Noto CJK SC", sans-serif;
    }
    td.japan {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", "Noto CJK JP", TakaoPGothic, sans-serif;
    }
    td.korea {
        font-family: 'Noto Sans CJK KR', 'Noto CJK KR', '나눔바른고딕', 'Nanum Barun Gothic', 'NanumBarunGothic', '나눔고딕', 'Nanum Gothic', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
    }
}
