
table.han808 {
    border-bottom: 3px solid #444444;
    margin: 0 auto;
    thead {
        background: #444444;
        color: #ffffff;
        th, td {
            padding: 15px 0px;
        }
    }
    th, td {
        width: 75px;
        padding: 5px 10px;
        text-align: center;
        font-size: 1.1em;
    }
    tr:nth-child(even) {
        background: #eeeeee;
    }
}
