
.page {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.page.vertical {
    max-width: 1024px;
}

.vertical {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
}
