
.page {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px;
}

.vertical {
    text-align: left;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    text-orientation: upright;
    rt {
        text-orientation: mixed;
    }
}
