/* ==========================================================================
   Page
   ========================================================================== */

.c-page {

}

.c-page__header {
    margin-bottom: 5rem;

    h1 {
        margin-bottom: 2.5rem; // 25px
        @include fs--heading-1;
        color: $c-base__02;
    }

    p {
        @include fs--meta;
    }
}

.c-page__footer {
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
        color: $c-base__01;
    }
}

.c-header__img {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        position: absolute;
        transform: translateY(-50%);
    }
}

.c-page__nav {
    border-bottom: 3px solid $c-base__01;
    position: relative;

    overflow: hidden;

    span {
        position: absolute;
        right: 0px;
        top: -16px;

        font-size: 56px;
        color: gray;
        transform: rotate(10deg);
    }

    ul {
        display: flex;
        flex-direction: row;
        
        padding: 5px 20px;
        list-style: none;
        font-size: 1.8rem;
    }

    li, a {
        color: $c-base__02;
    }

    a:hover {
        color: $c-accent__blue;
    }

    li:first-child::before {
        display: none;
    }

    li::before {
        display: inline-block;
        content: "/";
        margin: 0px 16px;
    }
}
