
body {
    background-color: $background;
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    text-decoration: none;
    color: $accent-blue;
    transition: color 0.75s;
}

a:visited {
    color: $accent-blue;
}

a:hover {
    color: $accent-navy;
    transition: color 0.25s;
}

nav > ul {
    list-style: none;
    li {
        margin-left: 0px;
    }
}

li {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

p {
    margin-bottom: 10px;
    line-height: 150%;
    font-size: 12pt;
}

h1, h2, h3,  h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 15pt;
}

.center {
    text-align: center;
}
