
body {
    background-color: $background;
    font-family: 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans', sans-serif;
}

.lang-tc {
    font-family: "Noto Sans TC", "Noto Sans CJK TC", "PingFang TC", "Heiti TC", "MingLiU", Roboto, Noto, sans-serif;
}

.lang-sc {
    font-family: "Noto Sans SC", "Noto Sans CJK SC", "方体", "PingFang SC", "黑体", "Heiti SC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto, sans-serif;
}

.lang-ja {
    font-family: "Noto Sans JP", "Noto Sans CJK JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", TakaoPGothic, sans-serif;
}

.lang-ko {
    font-family: 'Noto Sans KR', 'Noto Sans CJK KR', '나눔바른고딕', 'Nanum Barun Gothic', 'NanumBarunGothic', '나눔고딕', 'Nanum Gothic', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: $accent-blue;
    transition: color 0.75s;
}

a:visited {
    color: $accent-blue;
}

a:hover {
    color: $accent-navy;
    transition: color 0.25s;
}

nav > ul {
    list-style: none;
    li {
        margin-inline-start: 0px;
    }
}

li {
    margin-inline-start: 20px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

p {
    margin-block-end: 10px;
    line-height: 175%;
}

h1, h2, h3,  h4, h5, h6 {
    margin-block-start: 30px;
    margin-block-end: 20px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
