---
layout: home
---
<style>
    p, ul {
        font-size: 14pt;
    }
    p {
        line-height: 175%;
    }
    h2 {
        font-size: 28pt;
    }
    div {
        margin: 10px 0px;
    }
    .items-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .more {
        padding-bottom: 40px;
        text-align: center;
        color: #aaaaaa;
    }
</style>

<div class="items-center" style="min-height: 75vh;">
    <div class="items-center">
        <h2>歡迎！</h2>
        <div class="vertical">
            <p>Discord上談話會，漢字筆談會。<br>『漢字文化圈』交流之地也。</p>
            <p>知漢字者皆能來、<br>談話主題不限、<br>文字只用漢字。</p>
        </div>
    </div>
    <div class="more">
        ▼
    </div>
</div>
{{ content }}